/*reseteo*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(61, 185, 223);  
    background: -webkit-linear-gradient(to bottom, rgb(90, 144, 243), rgb(61, 185, 223));  
    background: linear-gradient(rgb(90, 144, 243), rgb(61, 185, 223));
  }